
 body{
   background-color: black;
  min-height: : 1900px;
 }
.imagem{
  margin: -10px;
  height: 1349px;
  margin-left: 1px;
  
  margin-top: -5px;
  position: absolute;
}

.pixel{
  width:1350px;
  margin: -12px;
  height: 3900px;
  border:50px solid yellow;
}