

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}
.menu{
    margin-left: 1100px;
    height: 150px;
    position: absolute;
}
.jogo{
    width:390px;
    height: 390px;
    margin-left: 50px;
    margin-top: 200px;
    border: 90px solid blue;
    position: absolute;
}
.jogo1{
    width:390px;
    height: 390px;
    margin-left: 700px;
    margin-top: 200px;
    border: 90px solid red;
    position: absolute;
}
.jogo2{
    width:390px;
    height: 390px;
    margin-left: 50px;
    margin-top: 900px;
    border: 90px solid blue;
    position: absolute;
}
.jogo3{
    width:390px;
    height: 390px;
    margin-left: 700px;
    margin-top: 900px;
    border: 90px solid red;
    position: absolute;
}
.jogo4{
    width:390px;
    height: 390px;
    margin-left: 50px;
    margin-top: 1600px;
    border: 90px solid blue;
    position: absolute;
}
.jogo5{
    width:390px;
    height: 390px;
    margin-left: 700px;
    margin-top: 1600px;
    border: 90px solid red;
    position: absolute;
}
.numero{
    color: white ;
    margin-top:2210px;
    font-size: 190px;
    margin-left:90px;
    position: absolute;
}

.numero2{
    color: white ;
    margin-top:2210px;
    font-size: 190px;
    margin-left:200px;
    position: absolute;
}
.numero3{
    color: white ;
    margin-top:2210px;
    font-size: 190px;
    margin-left:320px;
    position: absolute;
}
.numero4{
    color: white ;
    margin-top:2210px;
    font-size: 190px;
    margin-left:590px;
    position: absolute;
}
.numero5{
    color: white ;
    margin-top:2210px;
    font-size: 190px;
    margin-left:750px;
    position: absolute;
}



.moldura:hover {
    transform: scale(1.03); 
    z-index: 10;
}


.moldura img {
    width: 100%;
    margin-top: 190px;
    height: auto; 
    display: block; 
    padding: 5px; 
    box-sizing: border-box; 
}
.text{
  margin-left: 250px;
  color: white;
  margin-top: 30px;
  font-size: 70px;
  position: absolute;
}
.text3{
  margin-left: 250px;
  color: white;
  margin-top: 30px;
  font-size: 70px;
  position: absolute;
}
.text4{
  margin-left: 500px;
  color: white;
  margin-top: 30px;
  font-size: 70px;
  position: absolute;
}
.text5{
  margin-left: 450px;
  color: white;
  margin-top: 30px;
  font-size: 70px;
  position: absolute;
}

.pixel1{
  width:1350px;
  height: 150px;
  margin-top: -7px;
  background-color: blue;
  position: absolute;
}
.pixel2{
  width:1350px;
  height: 150px;
  margin-top:150px;
    margin-left: -76px;
  background-color: blue;
  position: absolute;
}
.pixel3{
  width:1350px;
  height: 150px;
  margin-top:250px;
    margin-left: -1px;
  background-color: blue;
  position: absolute;
}
.pixel4{
  width:1352px;
  height: 150px;
  margin-top:2250px;
    margin-left: -1px;
  background-color: blue;
  position: absolute;
}
.pixel{
  width:1350px;
  margin: -12px;
  height: 3900px;
  border:50px solid white;
}
.logo1{
  height: 150px;
  position: absolute;
}

.logo2{
     height: 150px;
    margin-top: -790px;
    margin-left: 1125px;
  position: absolute;
}
.logo3{
    
  height: 150px;
  position: absolute;
}
.logo4{
  height: 150px;
  position: absolute;
}
.logo5{
    margin-left: 1210px;
    
  height: 150px;
  position: absolute;
}
.logo6{
    margin-left: 1210px;
  height: 150px;
  position: absolute;
}
.carousel-container {
    max-width: 1200px;
    margin: 40px auto;
    position: relative;
    padding: 0 10px; 
}
.carousel-track {
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    -webkit-overflow-scrolling: touch; 
    
    scrollbar-width: none; 
}

.carousel-track::-webkit-scrollbar {
    display: none; 
}

.game-card {
    flex: 0 0 auto; 
    width: 380px; 
    margin-right: 40px;
    margin-left: -20px;
    margin-top: 190px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    scroll-snap-align: start; 
    transition: transform 0.3s ease;
}

.game-card:hover {
    transform: scale(1.05);
    background-color: #444;
}

.game-card img {
    width: 100%;
    height: 420px;
    object-fit: cover; 
    display: block;
}

.game-card p {
    padding: 50px 35px;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}


@media (max-width: 600px) {
    .carousel-container {
        margin: 20px auto;
    }

    .game-card {
        width: 580px;
        margin-right: 15px;
    }

    .game-card img {
        height:580px;
    }

    .game-card p {
        font-size: 0.8em;
    }
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5em;
    border-radius: 50%;
    transition: background 0.3s;
    display: none;}

.nav-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}